
<% if @game.current_turn == @game.player1 %>
<h2><%= @game.player1.name %> attacked <%= @game.player2.name %></h2>
<% else %>
<h2><%= @game.player2.name %> attacked <%= @game.player1.name %></h2>
<% end %>

<form action="/switch-turns" method="post">
  <input type="submit" value="OK">
</form>
